body {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  /* BEGIN (write your solution here) */
h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}
  /* END */
  
h2 {
    /* BEGIN (write your solution here) */
    font-size: 25px;
    margin-top: 0;
    padding-bottom: 30px;
    text-align: center;
    /* END */
  
    border-bottom: 2px solid #e3e3e3;
}
  
main {
    width: 900px;
    margin: auto;
}
  
  /* BEGIN (write your solution here) */
section {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
}
section h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
      
}
section ul {
    margin-bottom: 50px;
}